---
layout: default
---

<h2>Overview</h2>
{{ page.overview | markdownify }}

<h2>Preview</h2>

Preview each page in this document. Note that preview images are intended to be lower quality, for best results print the PDFs linked below.

<div class="previews">
  {% for previewImage in page.previewImages %}
    <a href="#downloads">
      <img src="{{ site.baseurl }}{{previewImage}}" />
    </a>
  {% endfor %}
</div>

<h2 id="downloads">Downloads</h2>

<p>
  This sheet is totally free for you to copy, print, or distribute as you please. Select an available page size to download the PDF file.
</p>
<p style="margin-bottom: 0">
  <strong>Available Sizes:</strong>
</p>
<ul>
  {% for size in page.sizes %}
    <li><a href="{{ site.baseurl }}{{ size.url }}">{{ size.size }}</a></li>
  {% endfor %}
</ul>

<p style="text-align: center">
  <strong>Looking for more? View all templates on our <a href="{{site.baseurl}}/">Home Page</a>.</strong>
</p>